@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Italianno:regular);
:root {
    --primary-color: #47613b;
    --secondary-color: #64ac43;
    --accent-color: #9CD0C2;


    --white-background: #ffffff;
    --white-background-darker-1: #f8f9fa;
    --white-background-darker-2: #f1f1f1;
    --white-background-darker-3: #eaeaea;
    --white-background-darker-4: #e0e0e0;
    --white-background-darker-5: #dcdcdc;
    --white-background-darker-6: #d3d3d3;
    --white-background-darker-7: #c0c0c0;
    --white-background-darker-8: #b0b0b0;
    --white-background-darker-9: #a0a0a0;
    --white-background-darker-10: #909090;

    --neutral-0: #ffffff;
    --neutral-1: #FFF9F1;
    --neutral-2: #F3E7D7;
    --neutral-dark-1: #05101A;
    --neutral-dark-2: #081C2C;  
    --neutral-dark-3: #082135;
    
    --page-background: var(--neutral-1);

    --text-color: var(--neutral-dark-1);

    --success-color: #27ae60;
    --error-color: #e74c3c;
    --warning-color: #f39c12;

    --brand-font: 'Fraunces', serif;
    --fancy-font: 'Italianno', serif;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;

   
    --base-font-size: 16px;

    --page-margin: 10em;

    --header-height: 4em;
}
* {
    min-width: 0;
    box-sizing: border-box;
}
html,body {
    margin: 0;
}

body {
    font-size: var(--base-font-size);
    font-family: var(--primary-font);
    background: linear-gradient(0deg, white 00%, var(--page-background));
    min-height: 100vh;
    

}

nav {
    display: flex;
    column-gap: 2rem;
    font-weight: 400;
}
.button-bar {
    display: flex;
    gap: .5rem;
}
h2 {
    font-family: var(--brand-font);
    font-size: 2.5em;
    color: var(--primary-color);
}
nav a {
    font-size: .95rem;
}
nav a::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background: var(--primary-color);
    transition: all 0.2s ease-in-out;
    
}
nav a:hover::after {
    width: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

/* a[href=''], a:not([href]) {
    background-color: red;

} */

button, .button {
    display: flex;
    gap: .5rem;
    --color: var(--primary-color);
    font-size: 1em;
    appearance: none;
    background: none;
    color: var(--color);
    border: 2px solid var(--color);
    padding: 0.5em 1em;

    font-family: var(--primary-font);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}


button:hover, .button:hover {
    background: var(--color);
    color: var(--white-background);
    border: 2px solid var(--color);
}




.secondary {
    --color: var(--neutral-dark-3);
}

input, textarea {
    font-family: inherit;
    display: block;
    border: none;
    width: 100%;
    padding: .8em 1em;
    margin-bottom: 1rem;
    border-radius: 3px;
}

site-header {
    display: block;
    height: 10em;
}
header .logo{
    margin-right: auto;
}
header {
    display: flex;
    align-items: center;
   
    font-family: var(--secondary-font);
    padding: 0 var(--page-margin);
    height: var(--header-height);
    
    z-index: 1000;
}
/* header::before {
    content: '';
    display: block;
    height: calc(var(--header-height) + 10em);
    width: 100%;
    background: linear-gradient(0deg, transparent, white);
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    
} */
 header nav {
    margin-right: 5em;
 }
.logo {
    position: relative;
    z-index: 100;
    font-size: 1.5rem;
    font-family: var(--brand-font);
    font-weight: 500;
    color: var(--primary-color);
}
footer {
    background-color: ;
}
.logo .logo-svg {
    width: 1.5em;
    height: 1.5em;
    transform: scaleX(-1) translateY(-0.1em);
    margin-right: 0.1em;
    vertical-align: middle;
}
nav.hamburger-nav {
   
   
    flex-direction: column;
    gap: 1em;
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: var(--neutral-1);
    
    padding: 1em var(--page-margin);
  
    padding-top: calc(var(--header-height) + 1em);
    z-index: 10;

 
    transition-duration: 400ms;
}

nav.hamburger-nav.open {
    display: flex;
   
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.164);
    top: 0

}
nav.hamburger-nav a {
    padding: 1rem;
    opacity: 0;
    transition-duration: 200ms;
   
}
nav.hamburger-nav.open a {
    opacity: 1;
}
button.hamburger {
 
    z-index: 1000;
    --size: 2rem;
    --height: calc(var(--size) * .6);
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0;
    width: var(--size);
    height: var(--height);
    position: relative;
}
button.hamburger > div {
    background-color: var(--primary-color);
    height: 2px;
    width: 100%;
    pointer-events: none;
}
button.hamburger .a {
    position: absolute;
    top: 0;
}
button.hamburger .b {
    position: absolute;
    top: var(--height) / 2;
}
button.hamburger .c {
    position: absolute;
    top: var(--height);
}

section {
    padding: 0 var(--page-margin);
  
}
section.hero {
    height: 40em;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    text-align: right;
}

section.hero .hero-content {
    margin-left: 45em;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: end;

}
section.hero .hero-header {
    font-size: 4rem;
    font-family: var(--brand-font);
    font-weight: 500;
    margin-bottom: 0;
    color: var(--primary-color);

}


section.hero img {
    --margin: 2em;
    position: absolute;
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--margin) * 2);

  
    object-fit: cover;
    margin: 0 auto;
    z-index: -1;
    border-radius: .5rem;


    
}
section.hero.featured {
    align-items: center;
}
section.hero.featured img {
    --size: 35em;
    left: var(--page-margin);
    height: var(--size);
    width: var(--size);
}
section.hero.featured .hero-content {
    margin: 0;
    text-align: left;
    display: block;
  
   
}
section.hero.featured h1 {
    text-align: left;
    font-size: 3.5rem;
    margin-top: -1rem;
}
section.hero.featured > .buffer {
    width: 35em;
    height: 35em;
    flex-shrink: 0;
}
.pusher {
    height: 100%;
}
section.testimonials {
    display: flex;
   
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding: 0 var(--page-margin);
    margin-bottom: 4rem;
 
}
section.testimonials h2 {
   
    font-family: var(--brand-font);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
   
}
section.mission {
    display: flex;
    flex-direction: row-reverse;
    gap: 4em;
    align-items: center;
    justify-content: center;
    height: 20em;
    padding: 0 var(--page-margin);
    

    margin-top: 3rem;
    margin-bottom: 4rem;
}
section.mission > div:last-child {
    display: flex;
    height: 100%;
    flex-direction: column;
}
section.mission img {
    width: 140%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
section.mission p {
    line-height: 1.5rem;
}
section.mission h2 {
    font-size: 3rem;
    margin-bottom: 1rem;

}
.testimonial {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    max-width: 50em;
    padding: 2em 1em;
   
    border-radius: .5rem;
 
}
.testimonial p:first-child {
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}
.testimonial p:first-child img {
    display: block;
    height: 1em;
    margin-right: 1em;
    margin-bottom: 1rem;
    object-fit: cover;
}
.testimonial .author {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: .9rem;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0;
    gap: .5rem;
}
.testimonial .author img {
    height: 2em;
    border-radius: 50%;
    width: 2em;
}

section.products .products-all {
    display: flex;
    gap: 1em;
    align-items: stretch;
    flex-wrap: wrap;
}

section.newsletter {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--neutral-2);

    height: 40em;
    

}
section.newsletter > div:first-child {
    width: 100%;
  
}
section.newsletter >div { 
    z-index: 1;
}

section.newsletter img {
    position: absolute;
   
    left: 0;
    height: 100%;
    object-fit: cover;
    width: auto;
    mask-image: linear-gradient(90deg, white 50%, transparent);
}
@import url(https://fonts.googleapis.com/css?family=Abhaya+Libre:regular,500,600,700,800);
section.newsletter h2 {
    font-weight: 500;
    font-family: 'Abhaya Libre', serif;
    color: var(--primary-color);
    font-size: 4rem;
    margin: 0;
}

section.contact {
    display: flex;
    gap: 6em;

}
section.contact form {
    width: 100%;
  
}
section.contact img {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}
form {
   
}
.bag {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0 !important;
    background-color: transparent !important;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
   
}
.bag:hover {
    color: var(--primary-color) !important;
    background-color: #47613b55 !important;
}
.bag-preview {
    
    position: absolute;
    background-color: white;
   
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    width: 18em;
    right: 0;
    top: 100%;
    border-radius: .5em;
    z-index: 1000;
    padding: 1rem;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}
.bag-preview .button {
    display: flex;
    text-align: center;
    align-items: center;
}
.bag-preview h4 {
    text-align: left;
    margin-top: 0;
}
.bag > span {
    pointer-events: none;
}
.bag-preview.open {
    pointer-events: all;
    opacity: 1; 
    display: block;
}
.bag-item {
    display: grid;
    grid-template-columns: 3em 1fr auto 1em;
    gap: 1em;
    align-items: center;
    
    padding: .5em;
    border-bottom: 1px solid var(--white-background-darker-3);
}
.bag-item *:nth-child(3) {
    font-size: .9rem !important;
}
.bag-item div:last-child {
    align-self: center;
    
}
.bag-item p {
    margin: 0;
    text-align: left;
}
.bag-item img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: .2em;
}
form h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 4rem;
    font-family: var(--brand-font);
    color: var(--primary-color);
}
form p {

}
label {
    display: block;
    font-size: .9em;
    margin-bottom:.5rem;
}



.product-card {
    display: flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 1rem;
   
    max-width: 23%;
    border-radius: .5rem;
    flex-shrink: 0;
}
.product-card img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: .5rem;
}
.product-card .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.product-card .price-container p {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0;
}
.product-card .tags {
    display: flex;
    align-items: start;
    gap: .2em;
}
.product-card .tag {
    background-color: var(--white-background-darker-1);
    color: var(--primary-color);
    padding: 0.5em 1em;
    border-radius: .1rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}
.product-card h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0;
}



/* mobile */
@media (max-width: 768px) {
    :root {
        --page-margin: 2em;
        --header-height: 3em;
    }
    header {
        padding: 0 var(--page-margin);
    }
    section.hero {
        height: 20em;
    }
    section.hero .hero-header {
        font-size: 2rem;
    }
}